:root{
    --text:rgb(24, 25, 27);
    --text_op1:rgba(24, 25, 27,.1);
    --text_op2:rgba(24, 25, 27,.2);
    /* --text_op7:rgba(24, 25, 27,.7); */
    --text_op:rgba(24, 25, 27,.9);
    --text_white_op1:rgba(255,255,255,.1);
    --text_white:rgba(255,255,255,.9);
    --color:rgb(73, 164, 225);
    --color_op1:rgba(73, 164, 225,.1);
    --color_op2:rgba(73, 164, 225,.2);
    --color_op:rgba(73, 164, 225,.5);
}

